<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <title>Portfolio</title>
</head>
  <body style="background: rgb(229, 229, 229);">
  <!-- SHU YERDAN YOZASIZ -->
    <div class class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/profile.svg" width="156px" height="142px" style="border-radius: 50%;" alt="Profile Picture"/>
            </div>
            <div class="left_1-2">
              <%=user.name%>
            </div>
            <div class="left_1-3">
              <%=user.profession%>
            </div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-1.png" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-2.png" class="icon-2"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-3.png" class="icon-3"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-4.png" class="icon-4"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.png" class="icon-5"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-6.png" class="icon-6"/>
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-age">
            <div class="left_2-age-1">Age:</div>
            <div class="left_2-age-2">24</div>
            </div>
            <div class="left_2-residence">
              <div class="left_2-residence-1">Residence</div>
              <div class="left_2-residence-2">BD</div>
            </div>
            <div class="left_2-freelance">
              <div class="left_2-freelance-1">Freelance</div>
              <div class="left_2-freelance-2">Available</div>
            </div>
            <div class="left_2-address">
              <div class="left_2-address-1">Address</div>
              <div class="left_2-address-2">Dhaka, Bangladesh</div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3"><strong>Languages</strong>
              <div class="languages">
               <div class="languages-1-1">Barngla</div>
               <div class="languages-1-2">100%</div>
               </div>
               <div class="marginer_box">
                <div class="marginer_languages_1"></div>
               </div>               
              <div class="languages">
                <div class="languages-2-1">English</div>
                <div class="languages-2-2">80%</div>
               </div>
               <div class="marginer_box">
                <div class="marginer_languages_2"></div>
               </div>  
               <div class="languages">
               <div class="languages-3-1">Spanish</div>
               <div class="languages-3-2">60%</div>
              </div>
              <div class="marginer_box">
                <div class="marginer_languages_3"></div>
              </div>  
          </div>
          <div class="marginer"></div>
          <div class="left_4"> 
            <div class="skills"><strong>Skills</strong>
              <div class="skills-1">
                <div class="skills-1-1">HTML</div>
                <div class="skills-1-2">100%</div>
              </div>
              <div class="marginer_box">
                <div class="marginer_skills_1"></div>
              </div>
              <div class="skills-1">
                <div class="skills-2-1">CSS</div>
                <div class="skills-2-2">85%</div>
              </div>
              <div class="marginer_box">
                <div class="marginer_skills_2"></div>
              </div>
              <div class="skills-1">
                <div class="skills-3-1">Js</div>
                <div class="skills-3-2">80%</div>
              </div>
              <div class="marginer_box">           
              <div class="marginer_skills_3"></div>
              </div>
              <div class="skills-1">
                <div class="skills-4-1">PHP</div>
                <div class="skills-4-2">75%</div>
              </div>
              <div class="marginer_box">
                <div class="marginer_skills_4"></div>
              </div>
              <div class="skills-1">
                <div class="skills-5-1">WordPress</div>
                <div class="skills-5-2">85%</div>
              </div>
              <div class="marginer_box">
                <div class="marginer_skills_5"></div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="extra"><strong>Extra Skills</strong></div>
            <div class="extra-1">
            <img src="icon/icons.png" alt="" class="check"/><%=user.extra_skills[0]%></div>
            <div class="extra-1">
            <img src="icon/icons.png" alt="" class="check"/><%=user.extra_skills[1]%></div>
            <div class="extra-1">
            <img src="icon/icons.png" alt="" class="check"/><%=user.extra_skills[2]%></div>
            <div class="extra-1">
            <img src="icon/icons.png" alt="" class="check"/><%=user.extra_skills[3]%></div>
          <div class="marginer"></div>
        </div>
      </div>




    
      
        <div class="midd_frame">
          <div class="banner">
            <div class="info">
              <h1>Doctor neurologists in OHSU hospita</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto veniam atque, dolorum culpa eaque nemo ex
                mollitia enim quisquam sequi iste velit</p>
              <p class="btn">HIRE ME <img src="images/pointer.png" style="margin-left: 10px;" alt=""></p>
            </div>
            <div class="picture">
              <img src="images/your-image.png" width="326px" height="426px">
            </div>
          </div>
        

          <div class="services">
            <div class="my-services">
              <h2>My Services</h2>
              <div class="amet-box">
              <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit mollit. lorem ipsum</p>
              </div>
              </div>
              <div class="column-1">
            <div class="web-box">
              <img src="box_images/web.png" style="width: 65px; height: 53px;">
              <p> <strong>Web Development</strong></p>
              <p>Blog, E-commerce</p>
            </div>

            <div class="web-box">
              <img src="box_images/UI.png" style="width: 65px; height: 53px;">
              <p> <strong>UI/UX Design</strong></p>
              <p>Mobile Apps, Web Design</p>
            </div>

            <div class="web-box">
              <img src="box_images/sound.png" style="width: 65px; height: 53px;">
              <p> <strong>Sound</strong></p>
              <p>Voice Over, Beat Making</p>
            </div>
            </div>
          
            <div class="column-2">
            <div class="web-box">
              <img src="box_images/game.png" style="width: 65px; height: 53px;">
              <p> <strong>Game Design</strong></p>
              <p>Character Design, Propts & Objects</p>
            </div>
            
            <div class="web-box">
              <img src="box_images/photography.png" style="width: 65px; height: 53px;">
              <p> <strong>Photography</strong></p>
              <p>Picture, Product Photography</p>
            </div>

            <div class="web-box">
              <p><strong>Advertising</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
              <div class="order-now">
                <p>Order Now <img src="box_images/pointer2.png" style="margin-left: 20px;" alt=""></p>
              </div>
            </div>
          </div>
        </div>
      </div>



    <div class="right_frame">

     
        <div class="contrast">
          <img src="menu_icon/moon.png" alt="" width="30px" height="30px">
        </div>
      

     
        <div class="menu">
             <div class="home">
              <img src="menu_icon/home.png" alt="" width="30px" height="30px">
            </div>
          <div class="service">
            <img src="menu_icon/docs.png" alt="" width="30px" height="30px">
          </div>
          <div class="cv">
            <img src="menu_icon/graduate.png" alt="" width="30px" height="30px">
          </div>
          <div class="portfolio">
            <img src="menu_icon/chat.png" alt="" width="30px" height="30px">
          </div>
          <div class="contact">
            <img src="menu_icon/suitcase.png" width="30px" height="30px">
      </div>
    
    
  </body>
</html>